$background-white: #f2f2f2;
$primary-font: "Montserrat", sans-serif;
$primary-color: #333;
$background-grey: #ebebeb;

.blogs-section {
  background: $background-white;
  padding: 1rem 0 2rem;
  h2 {
    margin-top: 0;
    padding-top: 1rem;
    font-family: $primary-font;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 40px;
    position: relative;
    animation: blog-slide 2.6s linear;
  }
  .blog-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    animation: blog-slide 2.6s linear;

    img {
      width: 250px;
      height: 180px;
      padding: 0.2rem;
      border: 1px solid rgba(0, 0, 0, 0.3);
    }

    h4 {
      font-family: $primary-font;
      text-transform: uppercase;
      font-weight: 100;
      font-size: 1rem;
      color: $primary-color;
      margin-top: 0.3rem;
    }

    a {
      text-decoration: none;
    }

    a:hover h4 {
      cursor: pointer;
      font-weight: 400;
    }

    .blog {
      margin: auto;
      width: 256px;
    }
  }
}

@keyframes blog-slide {
  0% {
    right: 4000px;
  }
  70% {
    right: 4000px;
  }
  100% {
    right: 0;
  }
}
