$background-white: #f2f2f2;
$primary-font: "Montserrat", sans-serif;
$primary-color: #333;
$background-grey: #ebebeb;
$link-color: #002d5b;

.project {
  width: 256px;
  font-family: $primary-font;
  color: $primary-color;
  margin: 0 1rem;
  padding-bottom: 2rem;

  &-tech-stack {
    height: 45px;
  }

  &-image {
    width: 250px;
    height: 180px;
    padding: 0.2rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
  }

  &-links {
    min-height: 48px;
    color: $link-color;
  }

  h4 {
    margin: 0.2rem 0 0.4rem;
    font-weight: 100;
    text-transform: uppercase;
  }
  .project-details {
    height: 80px;
  }
  p {
    font-size: 0.8rem;
    text-align: start;
  }
  a {
    display: block;
    text-decoration: none;
    color: $link-color;

    padding-bottom: 0.3rem;
  }
  a:hover {
    cursor: pointer;
    font-weight: 400;
  }
}

@media (max-width: 890px) {
  .project {
    margin: auto;
  }
}
