.portfolio-section {
  background: #ebebeb; }
  .portfolio-section h1 {
    margin: 0 0 2rem;
    padding-top: 2rem;
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    position: relative;
    left: 3000px; }
  .portfolio-section .projects-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    left: 3000px;
    margin: auto; }
  .portfolio-section h1.true,
  .portfolio-section .projects-wrapper.true {
    animation: project-slide 0.8s linear;
    left: 0; }

@media (max-width: 890px) {
  .portfolio-section .projects-wrapper {
    display: block; } }

@keyframes project-slide {
  0% {
    left: 3000px; }
  100% {
    left: 0; } }
