.about-wrapper {
  background: #f2f2f2;
  width: 100%;
  overflow: hidden; }

.about-section {
  background: #f2f2f2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: "Montserrat", sans-serif;
  color: #333;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  max-height: 800px; }
  .about-section .about-hero {
    position: relative;
    bottom: 2200px; }
    .about-section .about-hero .social-icons {
      padding-top: 1rem;
      font-size: 30px;
      color: #333;
      padding-bottom: 1rem; }
    .about-section .about-hero a {
      text-decoration: none;
      color: #333;
      font-family: "Montserrat", sans-serif; }
    .about-section .about-hero a:hover i {
      cursor: pointer;
      color: grey; }
    .about-section .about-hero i {
      padding: 0 0.5rem; }
  .about-section .about-hero.true {
    bottom: 0px;
    animation: about-slide-down 0.8s linear; }
  .about-section .about-details {
    position: relative;
    display: flex;
    align-items: center;
    border-left: 1px solid #333;
    margin: 3rem 0;
    max-width: 1000px;
    top: 2200px; }
    .about-section .about-details a {
      text-decoration: none;
      color: #333;
      font-family: "Montserrat", sans-serif;
      font-weight: 800;
      text-transform: uppercase; }
    .about-section .about-details a:hover i {
      cursor: pointer;
      font-weight: 900; }
  .about-section .about-details.true {
    top: 0px;
    animation: about-slide-up 0.8s linear; }
  .about-section article {
    padding: 2rem; }
    .about-section article div {
      margin: auto; }
    .about-section article .hero-img {
      height: 200px;
      width: 200px;
      border-radius: 50%;
      margin-bottom: 0rem; }
    .about-section article h2 {
      font-size: 40px;
      font-weight: 100;
      margin: 2rem 0 1rem;
      text-transform: uppercase; }
    .about-section article p {
      width: 400px;
      margin: auto; }

@media (max-width: 900px) {
  .about-section {
    display: block; }
    .about-section .about-details {
      border-left: 0;
      border-top: 1px solid #333;
      margin: 0 3rem; } }

@media (max-width: 580px) {
  .about-section .about-details {
    margin: 0 1rem;
    padding-top: 0rem;
    border-top: 0; }
  .about-section article {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
    padding: 1rem; }
    .about-section article .hero-img {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem; }
    .about-section article h2 {
      display: none; }
    .about-section article p {
      width: 270px;
      margin: auto; } }

@keyframes about-slide-down {
  0% {
    bottom: 1000px; }
  100% {
    bottom: 0; } }

@keyframes about-slide-up {
  0% {
    top: 1000px; }
  100% {
    top: 0; } }
