$background-white: #f2f2f2;
$primary-font: "Montserrat", sans-serif;
$primary-color: #333;

.about-wrapper {
  background: $background-white;
  width: 100%;
  overflow: hidden;
}
.about-section {
  background: $background-white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: $primary-font;
  color: $primary-color;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  max-height: 800px;

  .about-hero {
    position: relative;
    bottom: 2200px;

    .social-icons {
      padding-top: 1rem;
      font-size: 30px;
      color: $primary-color;
      padding-bottom: 1rem;
    }
    a {
      text-decoration: none;
      color: $primary-color;
      font-family: $primary-font;
    }

    a:hover i {
      cursor: pointer;
      color: grey;
    }
    i {
      padding: 0 0.5rem;
    }
  }

  .about-hero.true {
    bottom: 0px;
    animation: about-slide-down 0.8s linear;
  }
  .about-details {
    position: relative;
    display: flex;
    align-items: center;
    border-left: 1px solid $primary-color;
    margin: 3rem 0;
    max-width: 1000px;
    top: 2200px;

    a {
      text-decoration: none;
      color: $primary-color;
      font-family: $primary-font;
      font-weight: 800;
      text-transform: uppercase;
    }

    a:hover i {
      cursor: pointer;
      font-weight: 900;
    }
  }

  .about-details.true {
    top: 0px;
    animation: about-slide-up 0.8s linear;
  }

  article {
    div {
      margin: auto;
    }
    padding: 2rem;

    .hero-img {
      height: 200px;
      width: 200px;
      border-radius: 50%;
      margin-bottom: 0rem;
    }
    h2 {
      font-size: 40px;
      font-weight: 100;
      margin: 2rem 0 1rem;
      text-transform: uppercase;
    }
    p {
      width: 400px;
      margin: auto;
    }
  }
}

@media (max-width: 900px) {
  .about-section {
    display: block;
    .about-details {
      border-left: 0;
      border-top: 1px solid $primary-color;
      margin: 0 3rem;
    }
  }
}

@media (max-width: 580px) {
  .about-section {
    .about-details {
      margin: 0 1rem;
      padding-top: 0rem;
      border-top: 0;
    }

    article {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 0;
      div {
      }
      padding: 1rem;

      .hero-img {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
      }
      h2 {
        display: none;
      }
      p {
        width: 270px;
        margin: auto;
      }
    }
  }
}

@keyframes about-slide-down {
  0% {
    bottom: 1000px;
  }
  100% {
    bottom: 0;
  }
}

@keyframes about-slide-up {
  0% {
    top: 1000px;
  }
  100% {
    top: 0;
  }
}
