$background-white: #f2f2f2;
$primary-font: "Montserrat", sans-serif;
$primary-color: #333;
$background-grey: #ebebeb;

.footer {
  background: $background-white;
  position: relative;
  z-index: 20;

  .social-icons {
    padding-top: 1rem;
    font-size: 30px;
    color: $primary-color;
    padding-bottom: 1rem;
  }
  a {
    text-decoration: none;
    color: $primary-color;
    font-family: $primary-font;
  }

  a:hover i {
    cursor: pointer;
    color: grey;
  }
  i {
    padding: 0 0.5rem;
  }
  p {
    font-family: $primary-font;
    color: $primary-color;
    font-size: 0.9rem;
    font-weight: 100;
    margin: 0;
    padding: 1rem;
  }
}
